@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400');

@font-face {
  font-family: Tahoma;
  font-size: 1rem;
  line-height: 1.6;
  visibility: hidden;
  letter-spacing: -0.01875em;
  word-spacing: -0.01875em;
}

:root {
  --icpc-blue: #4982C3;
  --blue-accent-1: #C5D7EC;
  --blue-accent-2: #79A3D3;
  --blue-accent-3: #396FAD;
  --blue-accent-4: #2C5686;
  --icpc-yellow: #FCBA30;
  --yellow-accent-1: #FEE6B4;
  --yellow-accent-2: #FDCD68;
  --yellow-accent-3: #FBAB04;
  --yellow-accent-4: #C98903;
  --icpc-red: #B12C25;
  --red-accent-1: #EDAEAB;
  --red-accent-2: #E0716B;
  --red-accent-3: #87221C;
  --red-accent-4: #691A16;
  --icpc-red: #615BA7;
  --red-accent-1: #BFBDDB;
  --red-accent-2: #8F8BC1;
  --red-accent-3: #4C4785;
  --red-accent-4: #302D53;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.45;
  box-sizing: border-box;
}

h1 {
}

h2 {
}

h3 {
}

.body {
}

.body-bold {
}

caption, .caption {
}

/*
 *
 * Page Header
 *
 */

.page-header {
  padding: 10px 40px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('./PNG/PH_Mindanao.png');
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.page-header .logo {
  display: contents;
  line-height: 0;
}

.page-header .logo img {
  width: 75px;
  height: auto;
  transform: translateY(5px);
}

body > section {
  padding: 1rem 2.488rem;
}

body > section:first-of-type {
  padding-top: 1.44rem;
}

body > section > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

body > section > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
